<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a member? Please <a routerLink="/login">log in</a> instead.</p>

      <!-- <div *ngIf="showFormError">
        Something went wrong, please try again.
      </div> -->

      <form enctype="multipart/form-data" [formGroup]="registerForm" (ngSubmit)="register()">

        <div class="form-group">
          <label for="email">Email address *</label>
          <input class="form-control" name="email" formControlName="email">
          <div *ngIf="!registerForm.controls['email'].hasError('required') && registerForm.controls['email'].hasError('email') && registerForm.controls['email'].touched"
            class="alert alert-danger">
            Please enter a valid email.</div>
        </div>
        <div class="form-group">
          <label for="password">Password *</label>
          <input class="form-control" type="password" name="password" formControlName="password">
        </div>

        <div class="form-group">
          <label for="password">Name *</label>
          <input class="form-control" name="name" formControlName="name">
        </div>

        <div class="form-group">
          <label for="password">Age *</label>
          <input class="form-control" type="number" name="age" formControlName="age">
        </div>

        <div class="form-group">
          <label for="password">Skills *</label>
          <input class="form-control" name="skills" formControlName="skills">
        </div>

        <div class="form-group">
          <label for="name">Image 1*</label>
          <input class="form-control" type="file" name="file1" (change)="onFileChange($event, 1)">
        </div>

        <div class="form-group">
          <label for="name">Image 2*</label>
          <input class="form-control" type="file" name="file2" (change)="onFileChange($event, 2)">
        </div>

        <div class="form-group">
            <label for="name">Default Image *</label>
            <input type="radio" value="image1" formControlName="defaultImage"> Image 1
            &nbsp;&nbsp;&nbsp;
            <input type="radio" value="image2" formControlName="defaultImage"> Image 2
          </div>
        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-default">Register!</button>
      </form>
    </div>
  </div>

</div>